:root {
    --heading-font: 'Lobster', cursive;
    --secondary-header-font: 'Playfair Display', serif;
    --text-font: 'Inconsolata', monospace;
    --background-color:#ececec;
    --primary-color: #393e46;
    --secondary-color: #9dc6a7;
    --icon-color: #b7b7b7;
}

body {
    background-color: var(--background-color);
    max-width: auto;
    min-width: 300px;
}

.header-background {
    background-image: url(https://i.pinimg.com/564x/f5/5b/c7/f55bc7aac8c9d893810b47a25236e2d4.jpg);
    background-position: center;
    background-attachment: fixed;
}

.img-headshot {
    height: 400px;
    width: 390px;
    float: right;
}

.header {
    float: left;
    margin-top: 80px;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 70px;
}

.homepage h2 {
    text-align: center;
    font-family: var(--secondary-header-font);
    font-size: 23px;
    color: var(--secondary-color);
    font-weight: bold;
}

.homepage p {
    text-align: left;
    color: white;
    font-weight: bold;
    font-family: var(--text-font);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    
}

.skills-certificates-portion h2 {
    text-align: center;
    font-family: var(--secondary-header-font);
    font-size: 30px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

.skill-icons {
    color: var(--icon-color);
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.icon-description {
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 0 10px 0 10px;
    font-family: var(--text-font);
}

.api, .responsive {
    color: black;
    font-family: var(--text-font);
    font-weight: normal;
}

ul {
    padding: 0!important;
}

.carousel {
max-width: 960px;
max-height: 960px;
display: block;
margin: 0 auto;
border: 7px double var(--icon-color);
padding: 50px 20px 20px 20px;
background-color: var(--primary-color);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-image {
    max-height: 500px;
    margin: 0 auto;
}

.carousel-indicators li {
    background-color: var(--primary-color);
    padding: 1px;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .8s ease;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-prev {
    position: absolute;
    top:0;
    bottom:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: var(--icon-color);
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-next {
    position: absolute;
    top:0;
    bottom:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: var(--icon-color);
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.card {
    display: block;
    padding: 0 0!important;
}

.skills-certificates-portion p{
    text-align: left;
    color:var(--primary-color);
    font-weight: bold;
    font-family: var(--text-font);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
}

.certification-list img {
    width: 150px;
    height: 50px;
    max-width: 960px;
    min-width: 150px;
}
.certification-list a {
    background: var(--secondary-color);
    color: white;
    border-radius: 4px;
    padding: 30px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.certification-list a:hover {
    background-color:var(--icon-color);
}

footer {
    background-image: url(https://i.pinimg.com/564x/f5/5b/c7/f55bc7aac8c9d893810b47a25236e2d4.jpg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}

footer h2 {
    font-family: var(--secondary-header-font);
    font-size:30px;
    text-align: center;
    padding: 5px 0 5px 0;
}

footer p {
    text-align: left;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: var(--text-font);
    font-size: 20px;
    line-height: 1.5;
}


footer div {
    color: var(--secondary-color);
    font-size: 30px;
    text-align: center;
}

footer div a {
    color: white;
    font-family: var(--text-font);
    text-decoration: none;
    font-weight: bolder;
}

footer div a:hover {
    color: var(--secondary-color);
}

footer span {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

footer span a {
    color: var(--secondary-color);
}

footer span a:hover {
    color: white;
}


.work-page h3 {
    text-align: center;
    font-family: var(--secondary-header-font);
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold; 
    text-decoration: underline;
}

.work-page p {
    text-align: left;
    color: var(--primary-color);
    font-weight: bold;
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.work-page strong {
   color: var(--secondary-color);
   text-decoration: underline;
}

button {
    display: inline-block;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 4px double var(--primary-color);
    color: white ;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button a {
    color: white;
    text-decoration: none;
}

button span:after {
    content: '\00bb';
    color:white;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: var(--primary-color);
}

button:hover a {
    color: white;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.app-link {
    text-align: center;
    background: var(--secondary-color);
    color: white;
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.app-link:hover {
    background-color: var(--primary-color);
    color: white;
}

.work-image {
   filter:blur(1px);
   filter: grayscale(100%);
   height: 340px;
   width: 520px;
   border-radius: 6px;
}

.work-image:hover {
    filter:blur(0px);
    opacity: 80%;
    transition: all 150ms ease-in-out;
}


