:root {
    --heading-font: 'Lobster', cursive;
    --secondary-header-font: 'Fredoka', sans-serif;
    --text-font: 'Inconsolata', monospace;
    --background-color:#e9e2d0;
    --header-color:#f0ece2;
    --primary-color: #c7b198;
    --secondary-color: #887575;
}

.homepage {
    background-color: var(--background-color);
}

.img-headshot {
    height: 400px;
    width: 350px;
    float: right;
}

.header {
    float: left;
}

.header-background {
    background-color: var(--header-color);
    
}

.homepage h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 60px;
}

.homepage h2 {
    text-align: center;
    font-family: var(--secondary-header-font);
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: bold;
}

p {
    text-align: left;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: var(--text-font);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    
}

button {
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 4px double var(--secondary-color);
    color: var(--background-color) ;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button a {
    color: white;
    text-decoration: none;
}

button span:after {
    content: '\00bb';
    color:var(--primary-color);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: white;
}

button:hover a {
    color: var(--primary-color);
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.app-link {
    text-align: center;
    background: var(--primary-color);
    color: white;
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.app-link:hover {
    background-color: white;
    color: var(--primary-color);
}

img{
   filter:blur(1px);
   filter: grayscale(100%);
}

img:hover {
    filter:blur(0px);
    opacity: 80%;
    transition: all 150ms ease-in-out;
}


.certification-list img {
    height: 50px;
    width: 200px;
    margin-bottom: 4px;
    filter: none;
}