:root {
    --heading-font: 'Lobster', cursive;
    --text-font: 'Inconsolata', monospace;
    --background-color:#e9e2d0;
    --header-color:#f0ece2;
    --primary-color: #c7b198;
    --secondary-color: #887575;
}

.homepage {
    background-color: var(--background-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-background {
    background-color: var(--header-color);
}

.homepage h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 60px;
}

.homepage h2 {
    text-align: center;
    font-family: var(--text-font);
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: bold;
}

p {
    text-align: left;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: var(--text-font);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    
}

.icon-leaf {
    text-align: center;
  margin-top: 30px;
  color: var(--primary-color);
    font-size: 140px;
}


.app-link {
    text-align: center;
    background: var(--primary-color);
    color: white;
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.app-link:hover {
    background-color: white;
    color: var(--primary-color);
}

img{
   filter:blur(1.5px);
}

img:hover {
    filter:blur(0px);
    opacity: 30%;
    transition: all 150ms ease-in-out;
}